body{
	background-color: #ddd9e2;
}

#header {
	background-color: #5e5a7f;
	color: white;
	text-align: center;
}

#container {
	background-color: #ddd9e2;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#content {
	background-color: #ddd9e2;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#output.text {
  padding: 12px 0 12px 0;
}

#output.text {
  padding: 12px 0 12px 0;
  transition: 
    opacity 1s ease,
    color 1s ease 1s;
  opacity: 0;
}

#output.text.active {
  opacity: 1;
  color: purple;
}


